@using ChatApp.Supporters.Constants;
@model ChatApp.Models.FirstMessageModel;
@{
    ViewData["Title"] = $"Chats";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChatApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <div class="wrapper">
        <div class="middle">
            <div class="top">
                @if (Model.AuthorRole == RoleName.USER)
                {
                        <button class="btn btn-primary" onclick="requestToContact('@Model.AuthorId')">I want to be supported</button>
                }
                else
                {
                    <form method="GET" asp-controller="Respondent" asp-action="GetContact">
                        <button type="submit" class="btn btn-primary">Get Contact</button>
                    </form>
                }
                <input type="text" placeholder="Search" />

            </div>

            <ul class="people">
                @foreach (var groupMessage in Model.GroupsMessage)
                {
                    var routeValue = new Dictionary<string, string> { { "groupId", groupMessage.GroupId } };
                    <a asp-controller="Home" asp-action="Chat" asp-all-route-data="@routeValue">
                    <li class="person">
                        <img src="~/images/avatar.png" alt="" />
                        <span class="name">@groupMessage.RecipientName</span>
                            <span class="time">@groupMessage.LastMessageTime.ToString("dd-MM-yyyy HH:mm")
                                @if (groupMessage.IsGroupActive)
                                {
                                    <i class="fa fa-podcast text-success"></i>
                                }
                                else
                                {
                                    <i class="fa fa-podcast text-danger"></i>
                                }
                            </span>
                            <span class="preview">@groupMessage.LastMessage</span>
                    </li>

                    </a>
                }

            </ul>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>